.tasks__container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
}

.task__list {
    flex: 1;
    margin-right: 20px;
}

.box {
   border: 1px solid #e3f0f5;
   height: 100px;
   display: flex;
}

.task__detail {
    flex: 2;
}

.tasks__img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-top: 5px;
    margin: 15px 15px 0 15px;
}

.tasks__textbox {
    flex: 1;
    margin-top: 10px;
}

.tasks__name{
    margin-bottom: 0px;
    font-weight: bold;
}

.tasks__subject {
    margin-bottom: 0px;
}

.urgency {
    color: red;
}

.tasks__time {
    margin-top: 10px;
    margin-right: 20px;
    color: green;
}

.img_option{
    width: 40px;
    height: 40px;
    margin: 8px;
}

.inner {
    overflow: hidden;
}

.option {
    display: block;
    float: left;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

.prompt {
    display: block;
}

/* mobile view */
@media only screen and (max-device-width: 420px) {
}