.home__container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.inputfield__container {
    width: 960px;
    background-color: white;
    border: 3px solid rgb(234, 226, 226);
    border-radius: 10px;
    margin-top: 20px;
    padding: 25px;
}

.birthCheckInput {
    display: inline-block;
}

.pregnancyCheckInput {
    display: inline-block;
    margin-left: -200px;
}

.checkbox {
    display: inline-block;
    width: 50px;
    margin: auto;
    bottom: 2px;
    /* margin-left: -20px; */
    margin-top: 20px;
    padding: 30px;
}