.home__container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.inputfield__container {
    width: 960px;
    background-color: white;
    border: 3px solid rgb(234, 226, 226);
    border-radius: 10px;
    margin-top: 20px;
    padding: 25px;
}

.input__title {
    font-weight: bold;
    color: green;
    text-align: center;
}

.birthCheckInput {
    display: inline-block;
    margin-top: 5px;

}

.pregnancyCheckInput {
    display: inline-block;
    margin-top: 5px;
}

.checkbox {
    display: inline-block;
    width: 50px;
    /* margin: auto; */
    /* bottom: 2px; */
    margin-left: -10px;
    margin-top: 15px;
    padding: 30px;
}

.inputFirst {
    margin-left: -19px;
}

@media only screen and (max-device-width: 420px) {
    .home__container {
        width: 375px;
    }
    
    .inputfield__container {
        /* width: 960px; */
        padding: 25px;
    }
}