.patient__container {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.patient__name {
    background-color: rgb(178, 228, 178);
    padding: 4px;
    width: 350px;
    margin-left: 10px;
}

.checkbox__details {
    font-size: 20px;
}