.cardVital {
  display: flex;
  justify-content: space-between;
}

.finalDiagnosisResult {
  border: 3px solid red;
  border-radius: 20px;
  width: 220px;
  height: 80px;
  padding: 28px;
  background-color: rgb(114, 234, 130);
}
