.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.taskbar__items {
    text-decoration: none;
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.taskbar__items a {
    padding-bottom: 6px 8px 6px 6px;
    font-size: 24px;
    text-decoration: none;
    color: #302222;
    display: block;
}

.taskbar__items a:hover {
    color: #0062BD;
}

.dropdown {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 40px;
    background-color: #C0E9F2;
    border-bottom: 2px solid #0062BD;
    border-radius: 5px;
    font-weight: bold;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C0E9F2;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 8px;
    margin-left: -8px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
