.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.taskbar__items {
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
}

.taskbar__items a {
    padding-bottom: 6px 8px 6px 6px;
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #302222;
    display: block;
}

.taskbar__items a:hover {
    color: #0062BD;
}

.dropdown:hover {
    display: block;
}

.dropdown-item {
    border: 2px solid #43AED9;
    background-color: #C0E9F2;
    padding: 0px;
    width: 70px;
    font-weight: bold;
    border-radius: 2px;
    height: 40px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.area__name {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    background-color: #43AED9;
    padding: 15px;
    color: white;
    font-weight: bold;
}