.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.taskbar__items {
    text-decoration: none;
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.taskbar__items a {
    padding-bottom: 6px 8px 6px 6px;
    font-size: 24px;
    text-decoration: none;
    color: #302222;
    display: block;
}

.taskbar__items a:hover {
    color: #0062BD;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 2px 6px; */
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }