html,
body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

.Form_area {
 
  padding: 20px;
  margin-left: 200px;

  background-color: #e5e5e5;
}
#labels {
  color: rgb(68, 3, 3);
  padding: 8px;
  font-weight: 600;
  font-size: 20px;
}

.btn_prop {
  position: relative;
  float: right;
}

.vital_form {
  padding: 20px;
}

a {
  display: inline;
  font-size: 18px;
  padding: 5px;
}

.modal {
  font-size: 12px;
}



.patient__name {
  background-color: rgb(115, 191, 239);
  width: 100%;
  display: flex;
  justify-content: center;
}
.body_color{
  
  padding: 20px;

}

.baby_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #43AED9;

}
.cont{
  margin-left: 10px;

  padding: 20px;
}
.card_idea{
  display:block;
  margin-left: auto;
  margin-right:auto;

}